body 
{
    font-family: Arial, sans-serif;
    display: flex; 
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

.container 
{
    display: grid;
    grid-template-areas:
      "header header header"
      "sidebar content-1 content-2"
      "sidebar content-3 content-3"
      "footer footer footer";
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: auto 1fr 1fr auto;
    grid-gap: 50px;
    padding: 20px;
}

header 
{
    grid-area: header;
    background: linear-gradient(45deg, #7d00fa, #bc60f5);
    text-align: center;
    padding: 20px;
    font-size: 2em;
    font-weight: bold;
    border: 5px solid black;
    border-radius: 10px;
    transition: transform 0.5s ease, filter 0.5s ease;
}

header:hover 
{
    transform: scale(1.5);
    filter: brightness(1.6);
}

footer 
{
    grid-area: footer;
    background: linear-gradient(45deg,  #7d00fa, #bc60f5);
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    border: 5px solid black;
    border-radius: 10px;
    transition: filter 0.5s ease;
}

footer:hover 
{
    filter: blur(5px);
}


.sidebar 
{
    grid-area: sidebar;
    background: linear-gradient(45deg, #ff0000, #a4eff9);
    text-align: center;
    padding: 20px;
    border: 5px solid black;
    border-radius: 10px;
    transition: transform 1.7s ease;
}

.sidebar:hover 
{
    transform: rotate(90deg);
}

.content-1, .content-2, .content-3 
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8em;
    border: 5px solid black;
    border-radius: 10px;
}

.content-1 
{
    grid-area: content-1;
    background: linear-gradient(45deg, #01abf9, #73a2f3);
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.6)) brightness(1.1);
}

.content-2 
{
    grid-area: content-2;
    background: linear-gradient(45deg, #209cff, #68e0cf);
    transition: filter 0.8s ease;
}

.content-2:hover 
{
    filter: invert(75%);
}

.content-3 
{
    grid-area: content-3;
    background: linear-gradient(45deg, #7f00ff, #e100ff);
    animation: bounce 3s infinite ease-in-out;
}

@keyframes bounce 
{
    0%, 100% 
    {
        transform: translateY(-10);
    }

    50% 
    {
        transform: translateY(-50px);
    }
}
